/coverage
/dist
/frontend/js/**/*.d.ts
/tsconfig.domain-dto.tsbuildinfo
/tsconfig.application.tsbuildinfo
/node_modules
/.history
.DS_Store
/tasks
frontend/save/config.rmmzsave
frontend/save/global.rmmzsave
frontend/save/file0.rmmzsave
frontend/save/file1.rmmzsave
frontend/save/file2.rmmzsave
frontend/save/file3.rmmzsave
